h4{
    color: rgb(180, 185, 241);
    font-family: 'Ragata';
    font-size: 64px;
    text-align: center;
    margin-top: -5%;
    line-height: 400%;
    margin-bottom: -12%;
  }

  .desc{
    color: rgb(241, 180, 218);
    font-family: 'Desire Pro';
    font-size: 48px;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
  }