.proj {
    display: inline-block;
    overflow: hidden ;
    white-space: nowrap;
    color: rgb(180, 185, 241);
    font-family: 'Ragata';
    font-size: 144px;
    text-align: center;
    margin-left: 0%;
    align-items: center;
    margin-bottom: 0%;
}

