
.projez p{
    color: rgb(254, 255, 175);
    font-family: 'Ragata';
    font-size: 48px;
    margin-bottom: 64px;
}

.projez h6{
    margin-top: -10%;
    color: rgb(241, 180, 218);
    font-family: 'Desire Pro';
    font-size: 32px;
    width: 500px;
}

.projez {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-top: 200px;
}

.projez button {
    background-color: rgb(254, 255, 175);
    border: none;
    color: rgb(112, 150, 224);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Ragata';
    border-radius: 10px;
    margin-left: 0%;
    margin-top: -10%;
    margin-bottom: 0%;
}

.left img{
    width: 50%;
    height: 50%;
}

.rite {
    margin-left: -10%;
}

.left{
    width: 800px;
}