*{
  background-color: rgb(23, 13, 59);
  overflow-x: hidden;
  cursor: none;
}

.cursor{
  background-color: rgb(0, 255, 132);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}




@font-face {
  font-family: 'Ragata';
  src: url('Ragata.otf');
}

@font-face {
  font-family: 'Desire Pro';
  src: url('desire-pro.otf');
}

@font-face {
  font-family: 'New Delhi Bold';
  src: url('New_delhi_bold.ttf');
}



h1{
  color: rgb(254, 255, 175);
  font-family: 'Ragata';
  font-size: 128px;
  text-align: center;
  margin-top: 0%;
  line-height: 140%;

}


nav{
  font-family: 'Ragata';
  font-size: 64px;
  width: 90%;
  margin: auto;
  padding-top: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  
}

nav ul{
  list-style-type: none;
  display: flex;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  text-decoration: none;
  padding: 0.3rem 1.3rem;
  font-size: 20px;
  color: rgb(241, 180, 218);
  position: relative;
  z-index: 1;
}

nav ul li a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(180, 185, 241);
  z-index: -1;
  border-radius: 20px;
  transition: 0.3s;
}

nav ul li a:hover:after{
  width: 100%;
}

h2{
  color: rgb(254, 255, 175);
  font-family: 'New Delhi Bold';
  font-size: 118PX;
  text-align: center;
}

h3{
  color: rgb(241, 180, 218);
  font-family: 'Desire Pro';
  font-size: 64px;
  text-align: center;
  margin-bottom: 10%;
}


.sideText{
  display: inline-block;
  margin-bottom: 40%;
  margin-left: 10%;
}




h4{
  color: rgb(180, 185, 241);
  font-family: 'Ragata';
  font-size: 64px;
  text-align: center;
  margin-top: -5%;
}

.desc{
  color: rgb(241, 180, 218);
  font-family: 'Desire Pro';
  font-size: 48px;
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
}



.heading2{
  display: inline-block;
  overflow: hidden ;
  white-space: nowrap;
  color: rgb(180, 185, 241);
  font-family: 'Ragata';
  font-size: 64px;
  text-align: center;
  margin-top: -6%;
  right: 0;
  align-items: center;
}

.heading2 div{
  overflow: hidden;
  margin-top: 0%;
  align-items: center;
}
.heading2 div ul{
  overflow: hidden;
  margin-top: 0%;
  align-items: center;
}

.heading2 div ul li{
  display: inline-block;
  margin-right: 32px;
  overflow:hidden;
  margin-top: 0%;
  align-items: center;
}

.heading3{
  display: inline-block;
  overflow: hidden ;
  white-space: nowrap;
  color: rgb(180, 185, 241);
  font-family: 'Ragata';
  font-size: 64px;
  text-align: center;
  margin-top: -6%;
  margin-left: 0%;
  align-items: center;
}

.heading3 div{
  overflow: hidden;
  margin-top: 0%;
  margin-left: 0%;
}
.heading3 div ul{
  overflow: hidden;
  margin-top: 0%;
  margin-left: 0%;
}

.heading3 div ul li{
  display: inline-block;
  margin-right: 32px;
  overflow:hidden;
  margin-top: 0%;
  margin-left: 0%;
}

.heading4{
  display: inline-block;
  overflow: hidden ;
  white-space: nowrap;
  color: rgb(180, 185, 241);
  font-family: 'Ragata';
  font-size: 64px;
  text-align: center;
  margin-top: -6%;
  right: 0;
  align-items: center;
}

.heading4 div{
  overflow: hidden;
  margin-top: 0%;
  align-items: center;
}
.heading4 div ul{
  overflow: hidden;
  margin-top: 0%;
  align-items: center;
}

.heading4 div ul li{
  display: inline-block;
  margin-right: 32px;
  overflow:hidden;
  margin-top: 0%;
  align-items: center;
}