*{
  background-color: rgb(23, 13, 59);
}


@font-face {
  font-family: 'Ragata';
  src: url('Ragata.otf');
}

@font-face {
  font-family: 'Desire Pro';
  src: url('desire-pro.otf');
}

@font-face {
  font-family: 'New Delhi Bold';
  src: url('New_delhi_bold.ttf');
}

h1{
  color: rgb(254, 255, 175);
  font-family: 'Ragata';
  font-size: 128px;
  text-align: center;
  margin-top: 5%;
}

.normal{
  color: rgb(254, 255, 175);
  font-family:'Ragata';
  font-size: 128px;
  text-align: center;
}

nav{
  font-family: 'Ragata';
  font-size: 64px;
  width: 90%;
  margin: auto;
  padding-top: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  
}

nav ul{
  list-style-type: none;
  display: flex;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  text-decoration: none;
  padding: 0.3rem 1.3rem;
  font-size: 20px;
  color: rgb(241, 180, 218);
  position: relative;
  z-index: 1;
}

nav ul li a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(180, 185, 241);
  z-index: -1;
  border-radius: 20px;
  transition: 0.3s;
}

nav ul li a:hover:after{
  width: 100%;
}

h2{
  color: rgb(254, 255, 175);
  font-family: 'New Delhi Bold';
  font-size: 118PX;
  text-align: center;
}

h3{
  color: rgb(241, 180, 218);
  font-family: 'Desire Pro';
  font-size: 64px;
  text-align: center;
  margin-bottom: 10%;
}

img{
  width: 50%;
  height: 50%;
  margin-left: 40%;
  rotate: -5deg;
  margin-bottom: 20%;
}

h4{
  color: rgb(180, 185, 241);
  font-family: 'Ragata';
  font-size: 64px;
  text-align: center;
  margin-top: -5%;
}

.example div{
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 20%;
}

h6{
  color: rgb(241, 180, 218);
  font-family: 'Desire Pro';
  font-size: 48px;
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
}